*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

main {
    height: 4790px;
    background-color:#191919;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 2px;
}

#headerContainer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid rgb(211, 211, 211, 0.3);
}

#textLogo {
    color: #34C759;
    font-size: 20px;
    font-weight: 600;
}

#logoImg {
    display: inline-block;
    position: relative;
    top: 20px;
}

#logoContainer {
    width: 290px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 70px;
}

#topNavList {
    line-height: 70px;
    color: white;
    font-weight: 600;
}

.navList {
    display: inline-block;
    letter-spacing: 1px;
    margin-left: 15px;
    margin-right: 15px;
}

#firstPage {
    display: flex;
    float: left;
    height: 1000px;
    width: 100%;
    background-image: url(img/topBackground.png);
    background-size: cover;
}

#firstPageContainer {
    margin-left: 20%;
    margin-right: 20%;
    height: 500px;
    margin-top: 120px;
}

#topThreeTexts {
    padding: 20px;
    height: 260px;
    text-align: center;
}

#mainText {
    color: white;
    font-size: 60px;
    word-spacing: 6px;
}

.greyLittleText {
    color: lightgrey;
    width: 610px;
    font-size: 12px;
    margin-left: 10%;
    margin-top: 16px;
    word-spacing: 2px;
    line-height: 18px;
}

#orderNowText {
    background-color: #34C759;
    width: 160px;
    height: 54px;
    line-height: 54px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 46px;
    margin-left: 40%;
}

.topIconText {
    float: left;
    text-align: center;
    width: 220px;
    height: 100px;
    line-height: 30px;
    font-size: 12px;
    margin: 3%;
    margin-top: 10%;
    color: white;
}

.littleGreyCardText {
    color: #9c9c9c;;
}

#secondPage {
    position: relative;
    top: -300px;
    display: flex;
    float: left;
    justify-content: center;
    width: 100%;
    height: 600px;
}

#secondPageContainer {
    text-align: center;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 1000px;
    height: 600px;
}

#backMainText {
    font-size: 80px;
    color: #303030;
    font-weight: 900;
    margin-bottom: 2px;
    margin-top: 80px;
    letter-spacing: 10px;
}

#forwardMainText {
    color: white;
    position: relative;
    top: -74px;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 5px;
}

#secondPageLittleText {
    position: relative;
    top: -30px;
    color: lightgray;
    margin-left: 15%;
    width: 700px;
    font-size: 12px;
    line-height: 26px;
}

#secondPageNav {
    display: flex;
    float: left;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10%;
    width: 800px;
    height: 220px;
}

#secondPageArrowL {
    width: 60px;
    height: 60px;
    background-color: #262626;
    border: 2px solid #303030;
    border-radius: 50%;
    line-height: 60px;
}

#secondPageImg1 {
    position: relative;
    top: 35%;
}

#secondPagePhoto1 {
    float: left;
    background-image: url(img/photoScroll1.png);
    background-size: cover;
    width: 280px;
    height: 220px;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

#secondPagePhoto2 {
    float: left;
    background-image: url(img/photoScroll2.png);
    background-size: cover;
    width: 280px;
    height: 220px;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

#secondPageArrowR {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #262626;
    border: 2px solid #303030;
    border-radius: 50%;
}

#secondPageImg2 {
    position: relative;
    top: 35%;
    transform: rotate(180deg);
}

#thirdPage {
    position: relative;
    top: -220px;
    width: 100%;
    height: 500px;
    display: flex;
    float: left;
    justify-content: center;
    text-align: center;
}

#thirdPageContainer {
    text-align: center;
    width: 1200px;
    height: 500px;
}

#thirdBackText {
    font-size: 80px;
    color: #303030;
    font-weight: 900;
    letter-spacing: 10px;
}

#thirdForwardText {
    position: relative;
    top: -70px;
    color: white;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 5px;
}

#thirdPageCards {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 240px;
}

.thirdCard {
    background-color: #252525;
    width: 270px;
    height: 240px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.thirdCard1 {
    background-color: #34C759;
    width: 270px;
    height: 240px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.cardMainText {
    color: white;
    text-align: left;
    margin: 20px;
    font-weight: 400;
    font-size: 22px;    
}

.cardMainText1 {
    color: black;
    text-align: left;
    margin: 20px;
    font-weight: 400;
    font-size: 22px;    
}

.cardLittleText {
    color: lightgrey;
    text-align: left;
    margin: 20px;
    margin-top: 45px;
}

.cardLittleText1 {
    color: black;
    text-align: left;
    margin: 20px;
    margin-top: 45px;
}

#line1 {
    position: relative;
    top: -176px;
    left: 20px;
    border: 2px solid black;
    width: 60px;
    height: 0px;
}

#line2 {
    position: relative;
    top: -180px;
    left: 330px;
    border: 2px solid #34C759;
    width: 60px;
    height: 0px;
}

#line3 {
    position: relative;
    top: -184px;
    left: 640px;
    border: 2px solid #34C759;
    width: 60px;
    height: 0px;
}

#line4 {
    position: relative;
    top: -188px;
    left: 950px;
    border: 2px solid #34C759;
    width: 60px;
    height: 0px;
}

#mainLine {
    position: relative;
    top: -300px;
    left: 570px;
    border: 2px solid #34C759;
    width: 60px;
    height: 0px;
}

#forthPage {
    position: relative;
    top: -260px;
    width: 100%;
    height: 1100px;
    display: flex;
    float: left;
    justify-content: center;
    text-align: center;
}

#forthPageContainer {
    width: 1000px;
    height: 1100px;
    text-align: center;
}

#backDishesText {
    font-size: 80px;
    color: #303030;
    font-weight: 900;
    letter-spacing: 10px;
}

#forwardDishesText {
    position: relative;
    top: -70px;
    color: white;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 5px;
}

#secondCardsContainer {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: 150px 150px;
    justify-content: space-between;
    align-content: space-between;
    width: 1000px;
    height: 620px;
}

.secondCards {
    width: 320px;
    height: 440px;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px; 
    text-align: left;
}

.forthPhotos {
    width: 320px;
    height: 224px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.forthPhotos1 {
    background-image: url(img/gal1.png);
    background-size: cover;
}

.forthPhotos2 {
    background-image: url(img/gal2.png);
    background-size: cover;
}

.forthPhotos3 {
    background-image: url(img/gal3.png);
    background-size: cover;
}

.forthPhotos4 {
    background-image: url(img/gal4.png);
    background-size: cover;
}

.forthPhotos5 {
    background-image: url(img/gal5.png);
    background-size: cover;
}

.forthPhotos6 {
    background-image: url(img/gal6.png);
    background-size: cover;
}

.featuredMealText {
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    color: #D9D9D9;
    margin: 20px;
    margin-bottom: 2px;
}

.servedText {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A4A8B2;
    margin-left: 20px;
    margin-bottom: 20px;
}

.choiceText {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #85878C;
    margin-left: 20px;
    margin-right: 36px;
    letter-spacing: -0.1625px;
}

.starsContainer {
    display: flex;
    float: left;
    margin-left: 20px;
    margin-top: 24px;
    width: 288px;
    height: 20px;
}

.starImg {
    width: 20px;
    height: 20px;
    line-height: 30px;
}

.starNum {
    line-height: 24px;
    color: white;
    margin-left: 5px;
}

.starBtn {
    position: relative;
    text-align: center;
    line-height: 40px;
    font-weight: 900;
    font-size: 10px;
    top: -10px;
    width: 100px;
    height: 40px;
    background-color: #34C759;
    color: black;
    border-radius: 30px;
    margin-left: 20px;
}

.starGreyBtn {
    position: relative;
    text-align: center;
    line-height: 40px;
    font-weight: 900;
    font-size: 10px;
    top: -10px;
    width: 100px;
    height: 40px;
    background-color: #262626;
    border: 2px solid #303030;
    color: white;
    border-radius: 30px;
    margin-left: 20px;
}

#forthPageLine {
    position: relative;
    right: 530px;
    top: 90px;
    border: 2px solid #34C759;
    width: 60px;
    height: 0px;
}

#fifthPageLine {
    position: relative;
    right: 530px;
    top: 90px;
    border: 2px solid #34C759;
    width: 60px;
    height: 0px;
}

#sixthPageLine {
    position: relative;
    right: 530px;
    top: 90px;
    border: 2px solid #34C759;
    width: 60px;
    height: 0px;
}

#seventhPageLine {
    position: relative;
    right: 530px;
    top: 90px;
    border: 2px solid #34C759;
    width: 60px;
    height: 0px;
}

#fifthPage {
    justify-content: center;
    position: relative;
    top: -230px;
    display: flex;
    float: left;
    width: 100%;
    height: 300px;
}

#fifthPageContainer {
    width: 1000px;
    height: 300px;
    text-align: center;
}

#backChefsText {
    font-size: 80px;
    color: #303030;
    font-weight: 900;
    letter-spacing: 10px;
}

#forwardChefsText {
    position: relative;
    top: -70px;
    color: white;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 5px;
}

#avatarsContainer {
    display: flex;
    justify-content: space-between;
    width: 92.3%;
    height: 80px;
}

.avatarBox {
    display: flex;
    text-align: left;
    float: left;
    width: 240px;
    height: 65px;
}

#linePhotoContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.fifthAvatrIcon {
    width: 65px;
    height: 65px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid#252525;
}

.avatarNames {
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.225px;
    margin-left: 15px;
    margin-top: 15px;
}

.avatarAbout {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.15px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 15px;   
}

.fifthAvatar1 {
    background-image: url(img/Avatar1.png);
    background-size: cover;
}

.fifthAvatar2 {
    background-image: url(img/Avatar2.png);
    background-size: cover;
}

.fifthAvatar3 {
    background-image: url(img/Avatar3.png);
    background-size: cover;
}

#sixthPage {
    position: relative;
    top: -120px;
    display: flex;
    float: left;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 590px;
}

#sixthPageContainer {
    width: 1000px;
    height: 590px;
}

#backSixthText {
    font-size: 80px;
    color: #303030;
    font-weight: 900;
    letter-spacing: 10px;
}

#forwardSixthText {
    position: relative;
    top: -70px;
    color: white;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 5px;
}

#sixthCenterContainer {
    display: flex;
    width: 100%;
    height: 450px;
}

#sixthLeft {
    display: flex;
    justify-content: center;
    width: 480px;
    height: 450px;
    background-image: url(img/BBQLeftPhoto.png);
    background-size: cover;
    border-radius: 6px;
    color: white;
}

#sixthThreeCardsContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    width: 520px;
    height: 450px;
}

.sixthRightCard {
    background-color: #252525;
    width: 480px;
    height: 140px;
    border-radius: 6px;
}

#sixthLeftTextContainer {
    width: 360px;
    height: 450px;
    text-align: center;
}

#breakfastText {
    width: 100px;
    height: 30px;
    line-height: 32px;
    background-color: #000000;
    mix-blend-mode: normal;
    opacity: 0.7; 
    font-weight: 900;
    font-size: 10px;  
    letter-spacing: 1.25px;
    margin-left: 36%;
    margin-top: 15%;
}

#sixthDateText {
    margin-top: 13%;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

#sixthLeftAbout {
    margin-top: 2%;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}

#sixthLeftName {
    margin-top: 10%;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

#eyeChatLeftContainer {
    margin-top: 14%;
}

.eyeChatRightContainer {
    position: relative;
    left: 100px;
}

.chatIconOption {
    margin-left: 18px;
}

.sixthRightCardText {
    color: white;
    margin: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.sixthRightCardContainer {
    color: white;
    display: flex;
    margin-left: 20px;
    height: 30px;
}

.btnText {
    position: relative;
    top: -10px;
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 10px;
    line-height: 30px;
    border-radius: 5px;
}

.dataText {
    font-weight: 400;
    font-size: 12px;
    color: #B3B3B3;
    margin-left: 20px;
}

.sixthContainer2 {
    background-image: url(img/rightCenterCardPhoto.png);
    background-size: cover;
}

.sixthContainer3 {
    background-color: #34C759;
    color: black;
}

.dataText3, .rightCardText3, .blackNum {
    color: black;
}

#seventhPage {
    position: relative;
    top: -50px;
    display: flex;
    float: left;
    justify-content: center;
    width: 100%;
    height: 440px;
}

#seventhPageContainer {
    text-align: center;
    width: 1000px;
    height: 440px;
}

#backSeventhText {
    font-size: 80px;
    color: #303030;
    font-weight: 900;
    letter-spacing: 10px;
}

#forwardSeventhText {
    position: relative;
    top: -70px;
    color: white;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 5px;
}

#lastSocialContainer {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 300px;
}

.socialCard {
    width: 320px;
    height: 300px;
    background-color: #252525;
}

.socialCardTop {
    display: flex;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #303030;
}

.lastTopIcon {
    position: relative;
    top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #303030;
    margin-left: 15px;
}

.lastTopText {
    width: 100px;
    color: #BFBFBF;
    line-height: 80px;
    margin-left: 10px;
    text-align: left;
}

.lastTopBtn {
    position: relative;
    top: 18px;
    left: 12px;
    color: #737373;
    line-height: 45px;
    height: 45px;
    width: 120px;
    border: 2px solid #303030;
    border-radius: 25px;
}

.lastTopIconImg {
    position: relative;
    top: 5px;
    width: 35px;
}

.socialCardMainData {
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
}

.socialCardMainText {
    margin-left: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
}

.socialCardMainName {
    line-height: 40px;
    margin-left: 20px;
    color: #34C759;
    text-align: left;
}

.socialCardMain3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.instaPhotos {
    width: 106.5px;
    height: 110px;
    background-color: #fff;
}

.instaPhotos1 {
    background-image: url(img/lastGal1.png);
    background-size: cover;
}

.instaPhotos2 {
    background-image: url(img/lastGal2.png);
    background-size: cover;
}

.instaPhotos3 {
    background-image: url(img/lastGal3.png);
    background-size: cover;
}

.instaPhotos4 {
    background-image: url(img/lastGal4.png);
    background-size: cover;
}

.instaPhotos5 {
    background-image: url(img/lastGal5.png);
    background-size: cover;
}

.instaPhotos6 {
    background-image: url(img/lastGal6.png);
    background-size: cover;
}

#greenArrowBtn {
    position: relative;
    top: -190px;
    left: 134px;
    background-color: #34C759;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#greenArrow {
    position: relative;
    top: 16px;
}

#eightPage {
    display: flex;
    float: left;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 260px;
    text-align: center;
    justify-content: center;
}

#eightPageContainer {
    width: 100%;
    height: 250px;
}

#lastIconsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    border-bottom: 2px solid #303030;
}

#lastLogoCopyrightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
}

.topIconTextLast {
    position: relative;
    top: -40px;
}

#lastCopyrightText {
    font-weight: 400;
    font-size: 14px;
    color: #737373;
}